*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parentContainer {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(105, 105, 255), pink);
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 5px gray;
}
.container > h1 {
    color: green;

}
.container > label {
    margin-top: 20px;
    margin-bottom: 10px;
}
.container > input {
    height: 3em;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    color: brown;
    font-weight: 900;
}
input:focus {
    box-shadow: 2px 2px 2px gray;
}

.container > .showCap {
    /* border: 1px solid green; */
    width: 100%;
    height: 1em;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container > .showCap > h2 {
    color: brown;
}

.btn {
    /* border: 1px solid green; */
    margin-top: 1em;
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: center;align-items: center;
}
.btn > button {
    height: 3em;
    padding: 10px;
    background-color: rgb(211, 198, 198);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
    color: brown;
    font-weight: 600;
}
.btn > button:hover {
    transform: translateY(5px);
    box-shadow: 0px 10px 10px gray;
}

.container > .btn1 {
    /* border: 1px solid green; */
    width: 100%;
    height: 3em;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > .btn1 > button {
    height: 3em;
    padding: 10px;
    background-color: rgb(211, 198, 198);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
    color: brown;
    font-weight: 600;
}
.container > .btn1 > button:hover {
    transform: translateY(5px);
    box-shadow: 0px 10px 10px gray;
}

.container > h4 > a {
    text-decoration: none;
    color: brown;
}
